name: Build and deploy docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Build docs
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: sudo apt-get install libglu1-mesa
      - name: make docs
        run: uv run --extra dev jupyter-book build docs/ --all
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./docs/_build/html/"

  deploy-docs:
    needs: build-docs
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
