name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml'
      - uses: pre-commit/action@v3.0.1

  run_regressions:
    name: Test code
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Generate references from reference version
        run: bash generate_references.sh
        working-directory: tests
      - name: Install dependencies
        run: sudo apt-get install libglu1-mesa
      - name: Test
        run: uv run --extra dev pytest -n auto
